<html ng-app="myApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
		<script src='static/js/puppy-io.js'></script>
		<script src='static/js/puppy-io-angular.js'></script>
	</head>
	<body>
		<h1>User Manager App</h1>
		<div ng-controller="myCtrl">
			<h3>users</h3>
			<ul>
		        <li ui-repeat="user in users">
		        	{{user.userId}} | {{user.name}}
		        </li>
		    </ul>
		</div>
	
		<script type="text/javascript">
	   		var app = angular.module("myApp", ['puppy-io']);
	   		
	   		app.config(function(WebServerProvider){
	   			WebServerProvider.config('user-mgr',81);
	   		});
	   		
	   		app.controller("myCtrl",function($scope){
	   			
	   		});
	   	</script>
			
	</body>
</html>